img{
    height: 300px;
    width: 300px;
    opacity: 100%;
}

body{
  
    background-image: url("/fon.png");
    background-size: 850px;
    background-repeat: repeat;
   
    
} 

.main{
    
}
    


div img{
    margin-left: 36%;
}


div p {
    font-family: 'Gluten', cursive;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    text-align: center;
}


